:root {
    font-size: 10px;
    --black-color: #000;
    --white-color: #fff;
    --max-height:100vh;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.calendar-header {
    background-color: #62EFF2;
    width: 100vw;
}

.calendar-header span {
    font-size: 2.4rem;
    margin-right: 350px;
}

.calendar-header-left {
    height: 59px;
}

.calendar-header-left img {

    width: 88px;
    height: 59px;
}

.calendar-header-left span {
    font-size: 2.4rem;
}

.calendar-header form input {
    background-color: #62EFF2;
    border-bottom: 1px solid var(--black-color) !important;
    padding: 0 5.5rem;
}

.calendar-header .calendar-header-right img {
    height: 5rem;
    width: 5rem;
}

/* body */
.calendar-body {
    font-size: 2rem;
}

.calendar-body .calendar-sidebar {
    background-color: #D9D9D9;
    width: 180px;
    min-width: 180px;
    height: var(--max-height);
}

.calendar-body .calendar-sidebar p {
    width: 18rem;
}

.calendar-body .calendar-sidebar strong {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 3.5rem;
}

.calendar-body .calendar-sidebar p:hover,
.calendar-body .calendar-sidebar p.active {
    background: #737373;
    width: 18rem;
}

.calendar-body .calendar-body-content {
    width: 100vw;
}

.calendar-body .calendar-body-content .calendar-info i{
    font-size: 3.6rem;
}
.calendar-detail{
    margin-top: -5rem;
}
.calendar-detail p{
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F06525 0%, #EE6424 0%, #D75A21 23%, #8A3A15 100%);
    border-image-slice: 1;   
    width: 60vw;
    font-size: 4rem;
}
.calendar-row{
    border-bottom: 1px solid var(--black-color);
    padding: 10px 0;
    margin-top: 2rem;
    width: 40vw;
}
.calendar-row i{
    cursor: pointer;
}
.calendar-row .row-one{
    position: relative;
    right: 30px;
}
.calendar-row input{
    background-color: #FADFB5;
    border: none;
    width: 35rem;
}
.calendar-detail p span:hover,
.calendar-detail p span.active {
    color: #F06525;
    cursor: pointer;
}

.calendar-content{
    margin: 0 8rem;
}
.calendar-content ul li{
    width: 80px;
    height: 60px;
    border:1px solid var(--black-color);
    background-color: #202020;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.3rem;
    padding:0.5rem;
}
.calendar-content ul li.active{
    background-color: #636363;
}
.calendar-container{
    width: 560px;
    margin-left: 5rem;
}
.calendar-weekdays, .calendar-dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.calendar-weekdays li:nth-child(7), /* Sunday */
.calendar-dates li:nth-child(7n) {
    color:#C1332B;
    font-weight: 700;
}
.calendar-weekdays li:nth-child(6),  /* Saturday */
.calendar-dates li:nth-child(7n-1){
    color: #2E6B8B;
    font-weight: 700;
}
.calendar-content .calendar-container .calendar-weekdays li{
    height: 4rem !important;
    text-align: center;
    background-color: #373737 !important;
}
.calendar-dates li{
    position: relative;
}
.calendar-dates li p{
    position: absolute;
    bottom: -0.5rem;
    right: 0.5rem;
    color:#af2f28;
    font-weight: 500;
}
.in-month{

}
.out-month{
    background-color: #373737 !important;
}
.daily-transaction{
    border-radius: 6px;
    background: linear-gradient(0deg, #f1f4f8, #f1f4f8), #d9e0e9;
}
.total-transaction{
    background-color: #D9D9D9;
}
.transaction-overview div{
    width: 30rem;
    background-color: #BBE7C8;
}
.transaction-overview div:nth-child(2){
    border-left: 2px solid var(--black-color);
    border-right: 2px solid var(--black-color);
}
/* modal */
.modal-content {
    background-color: #86E89F;
}

.modal-content input {
    background-color: #F5F5F5;
}

.modal-footer button {
    width: 102rem;
}