:root {
  font-size: 16px;
  --black-color: #000;
  --white-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.expense-body .expense-body-content {
  width: 100vw;
}

.expense-body .expense-body-content .expense-info i {
}
.expense-detail {
  top: 75%;
  left: 10%;
  margin-left: 6.25rem;
  width: 40vw;
}
.expense-detail p {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #f06525 0%,
    #ee6424 0%,
    #d75a21 23%,
    #8a3a15 100%
  );
  border-image-slice: 1;
  width: 42vw;
}
.expense-row {
  border-bottom: 1px solid var(--black-color);
  padding: 10px 0;
  margin-top: 1.25rem;
  gap: 7.5rem;
}
.expense-row i {
  cursor: pointer;
}
.expense-row .row-one {
  position: relative;
  right: 30px;
}
.expense-row input {
  background-color: #fadfb5;
  border: none;
  width: 22rem;
}
.expense-detail p span:hover,
.expense-detail p span.active {
  color: #f06525;
  cursor: pointer;
}
.category-choosing {
}
.category-choosing p i {
  font-size: 2.25rem;
}
.category-choosing p span {
  color: #f06525;
  font-weight: 700;
  position: relative;
  top: 0.625rem;
  left: 1.875rem;
}
.category-list-item {
  border: 1px solid rgba(40, 40, 40, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.3),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
  width: 5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-list-item:hover,
.category-list-item.active {
  border: 2px solid #d75a21;
}
.category-list-item i {
  margin-top: 0.626rem;
  font-size: 1.875rem;
}
.category-list-item p {
  font-size: 1rem;
  margin: 8px 0;
}
.add-button-2 {
  height: 4.5rem;
}
.add-button,
.add-button-2 {
  background-color: rgb(43, 167, 180);
}
.add-button i,
.add-button-2 i {
  border: 5px solid var(--black-color);
  border-radius: 50%;
  padding: 5px 5px;
}
.add-button span {
  font-weight: 700;
  color: var(--black-color);
}
.add-button:hover,
.add-button-2:hover {
  background-color: rgb(0, 229, 255);
}
th,
td {
  font-size: 1.4rem;
}
/* modal */
.modal-content {
  background-color: #86e89f;
}

.modal-content input {
  background-color: #f5f5f5;
}

.modal-footer button {
  width: 63.75rem;
}
