:root {
    font-size: 10px;
    --black-color: #000;
    --white-color: #fff;
    --max-height:100vh;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.report-header {
    background-color: #62EFF2;
    width: 100vw;
}

.report-header span {
    font-size: 2.4rem;
    margin-right: 350px;
}

.report-header-left {
    height: 59px;
}

.report-header-left img {

    width: 88px;
    height: 59px;
}

.report-header-left span {
    font-size: 2.4rem;
}

.report-header form input {
    background-color: #62EFF2;
    border-bottom: 1px solid var(--black-color) !important;
    padding: 0 5.5rem;
    max-width: 34rem;
    width: 100%;
}

.report-header .report-header-right img {
    height: 5rem;
    width: 5rem;
}

/* body */
.report-body {
    font-size: 2rem;
}

.report-body .report-sidebar {
    background-color: #D9D9D9;
    width: 180px;
    min-width: 180px;
    height: var(--max-height);
}

.report-body .report-sidebar p {
    width: 18rem;
}

.report-body .report-sidebar strong {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 3.5rem;
}

.report-body .report-sidebar p:hover,
.report-body .report-sidebar p.active {
    background: #737373;
    width: 18rem;
}

.report-body .report-body-content {
    width: 100vw;
}

.report-body .report-body-content .report-info i{
    font-size: 3.6rem;
}
.report-detail{
    margin-top: -5rem;
}
.report-detail p{
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F06525 0%, #EE6424 0%, #D75A21 23%, #8A3A15 100%);
    border-image-slice: 1;   
    width: 60vw;
    font-size: 4rem;
}
.report-row{
    border-bottom: 1px solid var(--black-color);
    padding: 10px 0;
    margin-top: 2rem;
    width: 40vw;
}
.report-row i{
    cursor: pointer;
}
.report-row .row-one{
    position: relative;
    right: 30px;
}
.report-row input{
    background-color: #FADFB5;
    border: none;
    width: 100%;
    max-width: 35rem;
}
.report-detail p span:hover,
.report-detail p span.active {
    color: #F06525;
    cursor: pointer;
}

.transaction-overview button{
    width: 27rem;
    background-color: #BBE7C8;
}
.transaction-overview button.active,
.transaction-overview button:hover
{
    background-color:#71a480 ;
}
.transaction-overview button.active p,
.transaction-overview button:hover p{
    color: red;
    font-weight: 700;
}

.transaction-overview div:nth-child(2){
    border-left: 2px solid var(--black-color);
    border-right: 2px solid var(--black-color);
}
.report-content{
    margin: 0 15rem !important;
}
.report-list{
    border-radius: 6px;
    background: linear-gradient(0deg, #f1f4f8, #f1f4f8), #d9e0e9;
}
.report-list div i{
    padding: 1rem 1.2rem;
    font-size: 2.5rem;
    width: 4rem;
    
}
@media screen and (max-width:1200px) {
    .report-content{
        margin: 0 5rem !important;
    }
}